<h1><%= @tedtalk.title %></h1>

<ul>
  <li>
    <pre>
      <b>Description: </b><%= @tedtalk.description %>
      <b>Speaker: </b><%= link_to @tedtalk.speaker.name, @tedtalk.speaker %>
      <b>Url: </b><%= link_to @tedtalk.url, @tedtalk.url %>
      <b>Categories: </b><% @tedtalk.tags.each do |tag| %> <%= link_to tag.name.strip.gsub("'","").capitalize, tag  %> <% end %>
      <b>Views: </b><%= @tedtalk.views %>
    </pre>
  </li>
</ul>
